*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    position: relative;
}

.slider{
    position: absolute;
    width: 50vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.item{
    height: 60vh;
    display: none;
}

.active{
    display: block;
}


.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}

.prev,
.next{
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    background-color: azure;
    width: 40px;
    height: 40px;
    font-size: 36px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}

.prev:hover,
.next:hover{
    background-color: lightgreen
}

.prev{
    top: 10px;
}

.next{
    bottom: 10px;
}

.hidden{
    display: none;
}